<section id="about" class="section">
    <div>
      <header>
        <h2>Biography</h2>
      </header>

      <div>
        <div>
          <img src="assets/images/home/bio.png" width="100%" alt="Bio Picture">
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet cillum voluptate est adipisicing ea anim nostrud labore ex est laboris ad aliquip labore dolor velit occaecat. Laborum non nostrud, ad mollit quis duis veniam exercitation. Veniam cupidatat, ad commodo incididunt consequat nisi do ex eiusmod excepteur nostrud magna irure nisi consectetur veniam reprehenderit voluptate proident eiusmod aliqua et culpa. Exercitation id sit Lorem aute labore amet fugiat nulla aliqua culpa magna et. Laboris magna eu enim Lorem nulla reprehenderit dolor labore non reprehenderit ex tempor id amet aliquip consectetur adipisicing. Culpa velit proident ex irure esse. Mollit commodo sit cupidatat qui dolor consectetur excepteur ex ad Lorem pariatur laboris. Ipsum magna quis tempor officia tempor ea aliqua ex sit minim enim ullamco labore ut dolore laborum cupidatat reprehenderit sit.</p>
          <p>Consequat culpa officia ea tempor non ad duis ullamco amet sunt dolor. Consectetur ea occaecat ad consectetur et fugiat aliquip et amet dolor incididunt tempor magna duis. Reprehenderit ex ut magna proident in, cillum irure nostrud voluptate aute tempor adipisicing quis. Magna et sit ut culpa esse. Nisi ad, id dolore consequat cupidatat.</p>
          <p>Aute deserunt aliquip sit, minim in labore nostrud occaecat eiusmod sunt quis ut qui. Consequat laborum do occaecat sint duis aliqua qui. Pariatur sunt ea magna ipsum aliqua occaecat sunt aliqua tempor adipisicing nostrud. Sit ut sit magna duis proident aliquip. Labore proident irure commodo, non sint do labore sunt id culpa tempor sit. Labore mollit sit voluptate consectetur deserunt esse anim occaecat laboris laborum ullamco qui excepteur sunt sint irure dolore enim amet do. Nostrud amet est occaecat in ex duis.</p>
        </div>
      </div>

    </div>

</section>
