<div class="content">
    <header>
        <h2>{{ui.PARAGRAPHS.ANOTHER_PAGE_H1.getString()}}</h2>
        <h3><span class="green-dot">&bull;</span> {{ui.PARAGRAPHS.ANOTHER_PAGE_H2.getString()}} <span class="green-dot">&bull;</span></h3>
    </header>

    <div class="paragraph">
      <p>{{ui.PARAGRAPHS.ANOTHER_PAGE_P1.getString()}}</p>
      <p>{{ui.PARAGRAPHS.ANOTHER_PAGE_P2.getString()}}</p>
      <p>{{ui.PARAGRAPHS.ANOTHER_PAGE_P3.getString()}}</p>
      <p>{{ui.PARAGRAPHS.ANOTHER_PAGE_P4.getString()}}</p>
      <p>{{ui.PARAGRAPHS.ANOTHER_PAGE_P5.getString()}}</p>
      <p>{{ui.PARAGRAPHS.ANOTHER_PAGE_P1.getString()}}</p>
      <p>{{ui.PARAGRAPHS.ANOTHER_PAGE_P2.getString()}}</p>
      <p>{{ui.PARAGRAPHS.ANOTHER_PAGE_P3.getString()}}</p>
      <p>{{ui.PARAGRAPHS.ANOTHER_PAGE_P4.getString()}}</p>
      <p>{{ui.PARAGRAPHS.ANOTHER_PAGE_P5.getString()}}</p>
    </div>
</div>
