<!-- Header -->
<div id="header">

    <div class="top">
        <!-- Logo -->
        <div id="logo">
            <span class="image avatar48">
            <img src="assets/images/avatar.png" alt="My Logo" />
            </span>
            <h1 id="title">My Name</h1>
            <p>My Title</p>
            <p>My Location</p>
        </div>
    </div>

    <div class="navigate">
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li [ngClass]="isActive('intro')" (click)="scroll('intro')">
                    <div id="top-link" class="nav">
                        <mat-icon fontSet="fa" fontIcon="fa-home"></mat-icon>
                        Home
                    </div>
                </li>
                <li [ngClass]="isActive('about')" (click)="scroll('about')">
                    <div id="about-link" class="nav">
                        <mat-icon fontSet="fa" fontIcon="fa-user"></mat-icon>
                        Biography
                    </div>
                </li>
                <li [ngClass]="isActive('resume')" (click)="navigateTo('/resume')">
                  <div id="resume-link" class="nav">
                    <mat-icon fontSet="fa" fontIcon="fa-file"></mat-icon>
                    Link to Different Page
                  </div>
                </li>
            </ul>
        </nav>
    </div>

  <!-- Social Icons -->
  <div class="bottom">
    <ul class="icons">
        <li>
            <a href="https://www.linkedin.com/in/my-linkedin-url/" class="icon" target="_blank">
                <mat-icon fontSet="fab" fontIcon="fa-linkedin"></mat-icon>
                <span class="label">LinkedIn</span>
            </a>
        </li>
      <li>
            <a href="https://github.com/my-github-user" class="icon" target="_blank">
                <mat-icon fontSet="fab" fontIcon="fa-github"></mat-icon>
                <span class="label">Github</span>
            </a>
        </li>
      <li>
            <a href="mailto:example@domain.com" class="icon">
                <mat-icon fontSet="fa" fontIcon="fa-envelope"></mat-icon>
                <span class="label">Email</span>
            </a>
        </li>
    </ul>
  </div>

</div>
